{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">My Page</h2>
    
    <div class="row mb-4">
        <div class="col-md-2">
            <label for="image" class="font-weight-bold">Image:</label>
        </div>
        <div class="col-md-10">
            <img src="{{ url_for('get_user_image') }}" alt="Profile Image" class="img-thumbnail" width="200">
        </div>
    </div>

    <!-- Image URL update form -->
    <div class="row mb-4">
        <div class="col-md-12">
            <form action="{{ url_for('update_user_image') }}" method="post" class="form-inline">
                <label for="image_url" class="font-weight-bold mr-2">Update Image URL:</label>
                <input type="text" class="form-control mr-2 flex-grow-1" id="image_url" name="image_url" placeholder="Enter New Image URL">
                <input type="submit" value="Update" class="btn btn-primary">
            </form>
        </div>
    </div>


    <!-- 以下、profileの情報を表示する部分 -->
    <div class="row mb-3">
        <div class="col-md-2">
            <label class="font-weight-bold">User ID:</label>
        </div>
        <div class="col-md-10">
            {{ profile.user_id }}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-2">
            <label class="font-weight-bold">Username:</label>
        </div>
        <div class="col-md-10">
            {{ profile.username }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <label class="font-weight-bold">Role:</label>
        </div>
        <div class="col-md-10">
            {{ profile.role }}
        </div>
    </div>
</div>
{% endblock %}
